{% extends 'base.html' %}

{% block content %}
<h1>Gestión de Eventos</h1>

<a class="btn btn-verde" href="{% url 'crear_evento' %}">
    + Nuevo Evento
</a>

{% for e in eventos %}
<div class="card">
    <h2>{{ e.nombre }}</h2>
    <p>{{ e.fecha }} | {{ e.lugar }}</p>

    {% if e.afiche %}
        <img src="{{ e.afiche.url }}" width="200">
    {% endif %}

    <br><br>
    <a class="btn btn-verde" href="{% url 'editar_evento' e.id %}">Editar</a>
    <a class="btn btn-rosa" href="{% url 'eliminar_evento' e.id %}">Eliminar</a>
</div>
{% endfor %}

{% endblock %}