<!DOCTYPE html>
<html>
<head>
    <title>Gestor de Eventos</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav class="navbar">
    <a href="{% url 'inicio' %}" class="logo">
        <h2>Gestor de Eventos</h2>
    </a>

    <div class="menu">
        <a href="{% url 'lista_eventos' %}">Eventos</a>
        <a href="{% url 'lista_participantes' %}">Participantes</a>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>